body {
    background-color: aquamarine;
}

.intro {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    display: inline-block;
    width: 500px;
}

.profile {
    width: 200px;
    height: 200px;
}

.tablepattern {
    border: 1px solid black;
}